body{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
}



.posts {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}
.posts .post {
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 33%;
    height: 48vh;

}
.posts .post h3 {
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
}
.posts .post p {
    font-size: 2em;
    color: white;
}
 .posts .post .front {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.posts .post .back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #4e5d6a;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.post:hover .front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.post:hover .back {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}
.posts .post1 .front {
    background: url("img/MDHq9IEeCek.jpg") no-repeat;
    background-size: cover;
    background-position: center;

}
.posts .post2 .front {
    background: url("img/m_IBu2MfZG8.jpg") no-repeat;
    background-size: cover;
    background-position: center;

}

.posts .post3 .front {
    background: url("img/yi6YAVdTEZk.jpg") no-repeat;
    background-size: cover;
    background-position: center;

}
.posts .post4 .front {
    background: url("img/Om1KpwrbOmI.jpg") no-repeat;
    background-size: cover;
    background-position: center;

}
.posts .post5 .front {
    background: url("img/9zF9toB_oEQ.jpg") no-repeat;
    background-size: cover;
    background-position: center;

}

.posts .post6 .front {
    background: url("img/pbSUWgYDU4I.jpg") no-repeat;
    background-size: cover;
    background-position: unset;

}



