.projects {
  text-align: center;
  margin-top: 2em;
  position: relative;
  margin-bottom: 1em;
}
.projects button {
  border: none;
  background: none;
  color: #95aeb4;
  outline: none;
  cursor: pointer;
}
.projects button:hover {
  background-color: #95aeb4;
  color: #24282c;
}
.projects .text {
  position: absolute;
  left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .text h2 {
  color: white;
}
.projects .text img {
  display: inline-block;
  padding-right: 20px;
}
.projects .toggles {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .posts {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1em;
}
.projects .posts .post {
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 305px;
  height: 305px;
  margin: 1px 1px;
}
.projects .posts .post h3 {
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
}
.projects .posts .post p {
  color: white;
}
.projects .posts .post .front {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../img/bkg_header.jpg);
  background-size: cover;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.projects .posts .post .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #4e5d6a;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.projects .post:hover .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.projects .post:hover .back {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}
